*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: large;
}
.div_nome{
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 220px;  
}
.calc{
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
    border: 3px solid #bbb;
    width: 93vw;
    height: 98vh;
    border-radius: 5px;
}

.div_nome{
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 220px;
}
.div_teclas{
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* width: 80vw; */
   
}
.tecla{
    
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color: #dad7d7;
    border: 1.5px solid #888;
    border-radius: 10px;
    font-weight: bold;
    font-size: 4em;
    width: 22vw;
    height: 17vh;
    cursor: pointer;
    margin: 2px;
}
.tecla:hover{
    background-color: rgb(94, 92, 92);
    border: 3px solid red;
    color: white;
}
.teclaop{
    background-color: rgb(245, 148, 148) !important;  
    border: 3px solid #800 !important;
}


/* Display */
.div_display{
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 90vw;
   
  
}
.display{
   width: 90vw;
   background-color: #aca;
   text-align: right;
   padding: 5px;
   font-family: monospace;
   font-size: 3em;
   border-radius: 10px;
   height: 60px;
} 
.calcprinc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 0px;
    left: -93vw;
    transition: all 0.2s;

}
.calcprinc_exibir{
    left: 0vw !important;
    transition: all 0.2s !important;
}
.principalcalc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 50px;
    background-color: rgba(128,128,128,0.2);
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
   
}

